<div class="col-xs-12 page newvideo-page">
	<h1>Create a New Video</h1>
	<hr />
	<div class="row subpage subpage-1">
		<h2 class="text-center">What describes you most?</h2>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12">
					<div >
						<label id="question-select-1" class="radio question-select alert alert-success">
							<input id="select-1" class="checkbox" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							Over the past few weeks have you been having difficulties with your feelings, such as feeling sad, blah, or down most of the time?
						</label>
					</div>
					<div >
						<label id="question-select-2" class="radio question-select alert">
							<input id="select-2" class="checkbox" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							Over the past few weeks have you been feeling anxious, worried, very upset or are you having panic attacks?
						</label>
					</div>
					<div >
						<label id="question-select-3" class="radio question-select alert">
							<input id="select-3" class="checkbox" type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
							Overall, do you have problems concentrating, keeping your mind on things or do you forget things easily (to the point of others noticing and commenting?)
						</label>
					</div>
					<div >
						<label id="question-select-4" class="radio question-select alert">
							<input id="select-4" class="checkbox" type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
							None of these describe me
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<a id="subpage-2" class="btn btn-lg btn-block btn-primary">Next</a>
		</div>
	</div>
	<div class="row subpage subpage-2">
		<h2 class="text-center">Who do you want to talk to?</h2>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-2">
						<img src="http://placehold.it/300x300" class="img-responsive councillor-headshot" />
					</div>
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-12">
								<h2 class="councillor-name">Zachary Levy</h2>
								<p>Tags: Suicide, ADD, Under 18</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h2 class="councillor-name">Hao Yi</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<a id="subpage-3" class="btn btn-lg btn-block btn-primary">Next</a>
		</div>
	</div>
	<div class="row subpage subpage-3">
		<div class='row'>
			<div class='col-md-offset-2 col-md-8'>
				<div class="carousel slide" data-ride="carousel" id="quote-carousel">
					<!-- Bottom Carousel Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#quote-carousel" data-slide-to="1"></li>
						<li data-target="#quote-carousel" data-slide-to="2"></li>
					</ol>

					<!-- Carousel Slides / Quotes -->
					<div class="carousel-inner">

						<!-- Quote 1 -->
						<div class="item active">
							<blockquote>
								<div class="row">
									<div class="col-sm-3 text-center">
										<img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_1.png" style="width: 100px;height:100px;">
									</div>
									<div class="col-sm-9">
										<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
										<small>Someone famous</small>
									</div>
								</div>
							</blockquote>
						</div>
						<!-- Quote 2 -->
						<div class="item">
							<blockquote>
								<div class="row">
									<div class="col-sm-3 text-center">
										<img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_2.png" style="width: 100px;height:100px;">
									</div>
									<div class="col-sm-9">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
										<small>Someone famous</small>
									</div>
								</div>
							</blockquote>
						</div>
						<!-- Quote 3 -->
						<div class="item">
							<blockquote>
								<div class="row">
									<div class="col-sm-3 text-center">
										<img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_3.png" style="width: 100px;height:100px;">
									</div>
									<div class="col-sm-9">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
										<small>Someone famous</small>
									</div>
								</div>
							</blockquote>
						</div>
					</div>

					<!-- Carousel Buttons Next/Prev -->
					<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
					<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
				</div>                          
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img src="http://placehold.it/400x400" class="img-responsive"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center">Record your video</h2>
						<a class="btn btn-lg btn-primary"><i class="fa fa-circle record-icon"></i> Record</a>
						<a class="btn btn-lg btn-primary"><i class="fa fa-stop"></i> Stop</a>
						<a id="" class="btn btn-lg btn-primary">Submit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<h1>Videos#new</h1>
<p>Find me in app/views/videos/new.html.erb</p>

<div id="webcam">
	<p>Video should appear here</p>

</div>

<div id="message"></div>
		<div id="recorder">
			<div id="webcam">
			</div>
			<div id="volumePanel" style="float:left;position:relative;top:10px;">
				<div id="volumeMeter" style="position:absolute;top:10px;left:7px;float:left;">
					<img id="LedBar32" src="ledred.png">
					<img id="LedBar31" src="ledred.png">
					<img id="LedBar30" src="ledred.png">
					<img id="LedBar29" src="ledred.png">
					<img id="LedBar28" src="ledred.png">
					<img id="LedBar27" src="ledred.png">
					<img id="LedBar26" src="ledred.png">
					<img id="LedBar25" src="ledred.png">
					<img id="LedBar24" src="ledred.png">
					<img id="LedBar23" src="ledred.png">
					<img id="LedBar22" src="ledred.png">
					<img id="LedBar21" src="ledred.png">
					<img id="LedBar20" src="ledgreen.png">
					<img id="LedBar19" src="ledgreen.png">
					<img id="LedBar18" src="ledgreen.png">
					<img id="LedBar17" src="ledgreen.png">
					<img id="LedBar16" src="ledgreen.png">
					<img id="LedBar15" src="ledgreen.png">
					<img id="LedBar14" src="ledgreen.png">
					<img id="LedBar13" src="ledgreen.png">
					<img id="LedBar12" src="ledgreen.png">
					<img id="LedBar11" src="ledgreen.png">
					<img id="LedBar10" src="ledgreen.png">
					<img id="LedBar9" src="ledgreen.png">
					<img id="LedBar8" src="ledgreen.png">
					<img id="LedBar7" src="ledgreen.png">
					<img id="LedBar6" src="ledgreen.png">
					<img id="LedBar5" src="ledgreen.png">
					<img id="LedBar4" src="ledgreen.png">
					<img id="LedBar3" src="ledgreen.png">
					<img id="LedBar2" src="ledgreen.png">
					<img id="LedBar1" src="ledgreen.png">
				</div>
				<div id="slider" style="position:absolute;top:10px;left:30px;">
				</div>
			</div>
			<br clear="both"/>
			<div id="setupPanel">
				<img src="webcamlogo.png" style="vertical-align:text-top"/>
				<select id="cameraNames" size="1" onChange="changeCamera()" style="width:145px;font-size:10px;height:25px;">
				</select>
				<img src="miclogo.png" style="vertical-align:text-top;padding-left:45px;"/>
				<select id="microphoneNames" size="1" onChange="changeMicrophone()" style="width:128px;font-size:10px;height:25px;">
				</select>
			</div>
			<br/>
			<button id="recordStartButton" class="btn btn-small" onclick="startRecording()" disabled>Start Recording</button>&nbsp;
			<span style="padding-left:5px;padding-right:5px;">
			Time left:
			<input type="text" id="timeLeft" style="width:50px;font-size:10px;">&nbsp;
			</span>
			<button id="recordPauseResumeButton" class="btn btn-small" onclick="pauseResumeCamera()" disabled>Pause Recording</button>
			<button id="recordStopButton" class="btn btn-small" onclick="closeCamera()" disabled>Stop Recording</button>
		</div>
		<div id="mediaplayer" style="display:none;"></div>

