<div class="col-xs-12 page landing-page">
<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-4 col-centered">
			<%= image_tag "video_help_logo.png", :class => "brand-logo img-responsive" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 col-sm-8 col-centered">
		<div class="youtube-wrap">
			<iframe class="youtube-video" width="560" height="315" src="//www.youtube.com/embed/pt8VYOfr8To?rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 call-to-action">
		<div class="col-xs-6 col-centered">
<%= link_to "New video", new_video_path, :class => "btn btn-lg btn-primary btn-block" %>
		</div>
	</div>
</div>

