/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* START THEME */
$palette-primary: #60016D;

/* END THEME */

/* START BASE */
.spacer {
    margin-top: 40px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
/* END BASE */

/* START LANDING PAGE */
.youtube-wrap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}
.youtube-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.landing-page {
	.call-to-action {
		margin-top: 3em;
	}
	.youtube-wrap {
		margin-top: 5em;
	}
}
/* END LANDING PAGE */







