<%# add navigation links to this file %>
<ul class="nav pull-right">
  <li><%= link_to "Home"%></li>
  <li><%= link_to "New Video", video_path('new') %></li>
  <li><%= link_to "Sign in", user_path('new') %></li>
  <li><%= link_to 'About', page_path('about') %></li>
</ul>
